<form>
    <mat-card class="home mat-elevation-z4">
        <mat-card-title class="title">{{livro.titulo}}</mat-card-title>
    </mat-card>
    <mat-card class="home mat-elevation-z4">
        <mat-card-subtitle class="subtittle">Por: {{livro.nome_autor}}</mat-card-subtitle>
        <button (click)="cancelar()" mat-stroked-button color="warn" style="width: 100%;">
            <mat-icon>keyboard-return</mat-icon>
        </button>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle class="subtittle">{{livro.texto}}</mat-card-subtitle>
    </mat-card>
</form>